* {margin:0;
    padding:0;
      box-sizing: border-box;}
    .img1{
        width:100px;
        height:100x; 
        margin: 0 30px;
      }

      .profile{
        display:flex;
        flex-direction:row;
        margin:0 30px;
        padding:5px;
      }

      .profile img{
        border-radius:50%;
        height:70px;
        width:70px;
      }

      .profiledetails{
        display:flex;
        flex-direction:column;
        height:100%;
        margin:auto auto;
        padding:0 10px;
      }

      .profiledetails p{
        font-size: 16px;
        font-weight: 500;
      }
      .Navbars{
        
        background-size:60%;
        background-repeat: no-repeat;
        background-position:0% 20%;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        height: 100px;
        
      }
      

      .img2{
        display:flex;
        align-items:center;
        justify-content:center;
        
      }
      .container{
        display:flex;
        flex-direction:row;

      }
      
      .img2 img{
        height:60px;
        width:100px;
      }

      .imgscroll{
        width: 40%;
        margin-right: 80px;
      }
      .topnav{
        background: #345978;
        color:white;
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-direction:row;
        // padding:4px;
      }
      ul li a{
        text-decoration:none;
        color:white;
        font-size:16px;
      }
      ul{
        list-style:none;
      }
      .search{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        position:relative;
      }
      form input[type="text"]{
        padding:6px;
         border-radius:5px;
        color: #ffffff;
        background-color: transparent;
        border: none;
      font-size: 12px;
      width: 90%;
      }
      .icon{
        position:absolute;
        right:17px;
      }
      .navList{
        display:flex;
        flex-direction:row;
      }
      .navItem {
      
        //  border-radius: 50px;
        transition: 200ms;
       
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
    // width: 20%;

    border-right: 0.1px solid rgb(250, 251, 253);
    a{
      font-size: 14px;
      color: #ffffff;
    }
      }

      .navItem:hover{
        background-color: #547CA2;
        // a{
        //     color: #fbf9f9;
        // }
      } 

      .submitbtn {
        // padding: 10px;
         color: rgb(251, 245, 245);
         background-color: transparent;
        position: relative;
        
        cursor: pointer;
      right: 5px;
        border: none;
       
        // background-color:t;
     }
    //  .sidebar{
    //    position:fixed;
    //   top:0;
    //   left: 0;
    //   z-index: 999;
    //   margin-top: 48px;
    //   height: 100vh;
    //   background-color: #000;
    //  }
//---------------------------------------------------------------------------------------------

    .sidebar {
      display: none;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 186px;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
      text-align: left;
    
      .sidebaritem {
        display: flex;
        flex-direction: column;
    
        .sidebaritemicon{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 10px;
        }
      
        a {
          padding: 8px 8px 8px 10px;
          text-decoration: none;
          font-size: 19px;
          color: #490af6;
          display: block;
          transition: 0.3s;
          white-space: nowrap;
        }
      }
    }
    
    .sidebaropen {
      display: block;
      height: 100%;
      width: 220px;
      position: fixed;
      z-index: 999;
      top: 186px;
      left: 0;
      background-color: #345978;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
      text-align: left;
    
      .sidebaritem {
        display: flex;
        flex-direction: row;
        width: 100%;
      
        .sidebaritemicon{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 10px;
        }
        a {
          padding: 8px 8px 8px 10px;
          text-decoration: none;
          font-size: 19px;
          color: #818181;
          display: block;
          transition: 0.3s;
          white-space: nowrap;
        }
      }
    }
    
    .sidebaritem:hover{
      background-color: #547CA2;
    }
   
    input::placeholder {
      color: rgb(252, 249, 249);
  }
    .menubar{
      display: grid;
      // grid-template-columns: repeat(2, 150px);
      grid-auto-rows: unset;
      background-color: #345978;
      width: 303px;
       position: fixed;
      z-index: 999999;
      top: 190px;
      left: 51px;
      height: 60vh;
      border-radius: 10px;
      padding: 10px;
      //  overflow-x: hidden;
      // overflow-y: scroll;
      .menuitem {
        display: flex;
       flex-direction: row;
       align-items: center;
        
      //  justify-content: center;
       a{
       text-decoration: none;
       color: #ffffff;
       }
      }
    }
    .menuitem >*{
      padding: 5px;
    }
    .menuitem:hover{
      background-color: #547CA2;
     border-radius: 5px;
    }

    .menubarclose{
      display: none;
      grid-template-columns: repeat(2, 150px);
      grid-auto-rows: 50px;
      background-color: rgb(151, 182, 247);
      width: 330px;
      position: fixed;
      z-index: 999;
      top: 190px;
      left: 51px;
      border-radius: 10px;
      padding: 10px;
      .menuitem {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       a{
       text-decoration: none;
       color: #ffffff;
       }
      }
    }
    .menuitem:hover{
      background-color: #547CA2;
     border-radius: 5px;
    }

    .searchBardiv{
      background-color: #ffffff00;
      display: flex;
      flex-direction: row;
      border: 1px solid gray;
      
    }
    textarea:focus, input:focus{
      outline: none;
  }